@font-face {
    font-family: 'inter';
    src: url('fonts/Inter-Regular.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'inter';
    src: url('fonts/Inter-Medium.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'inter';
    src: url('fonts/Inter-Bold.otf');
    font-weight: 700;
}

body {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    background: #795bf9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

div#cronometro {
    padding: 10px;
}

div#cronometro h1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

div#cronometro .timer {
    margin-bottom: 20px;
}

div#cronometro .timer span.separator {
    font-size: 80px;
    position: relative;
    top: -20px;
}

div#cronometro .controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#cronometro .controls input[type="button"] {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    margin-right: 8px;
    padding: 8px;
    font-weight: bold;
    font-size: 19px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 3px #556e6e27;
}

input[type="number"] {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    width: 180px;
    font-weight: bold;
    color: white;
    background: #795bf9;
    outline: none;
    font-size: 130px;
    border-radius: 12px;
    text-align: center;
    border: 2px solid #795bf9;
    appearance: none;
    -moz-appearance:textfield;
}

input[type="number"]::placeholder {
    color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


div.copyright {
    padding: 10px;
    margin-top: 25px;
    text-align: center;
    font: normal 14px 'inter';
}

div.copyright a {
    color: #fff;
    text-decoration: none;
}

div.copyright a:hover {
    text-decoration: underline;
}

